// Variaveis de cores

$color-primary: rgb(0, 136, 204);
$color-primary-opacity: rgba(0, 136, 204, 0.737);
$color-secondary: rgb(217, 217, 217);
$color-tertiary: rgb(246, 246, 246);

$color-quaternary: rgb(23, 23, 23);
$color-quinary: rgb(171, 180, 191);
$color-senary: rgb(172, 172, 172);

$color-septenary: rgb(30, 33, 39);
$color-octonary: rgb(125, 125, 125);
$color-nonary: rgb(195, 195, 195);

$color-tenth: rgb(236, 237, 240);

$color-error: rgb(179, 0, 0);
$color-intercurrences: rgb(52, 152, 219);
$color-warning: rgb(221, 75, 57);

$color-success: rgb(0, 128, 0);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

//Variaveis de fontes

$font-primary: "Open Sans", Arial, sans-serif;
$font-secondary: "Montserrat", sans-serif;
$font-tertiary: 'Inter', sans-serif;