BASE_URL_API_WEGIA= #Adicione a variavel da API
BASE_URL_API_WEGIA_PATH=/api/

BASE_URL_API_PAGAR_ME=https://api.pagar.me/core/v5
PUBLIC_KEY_PAGAR_ME= #Adicione o token da api do pagar me


BASE_URL_API_CEP=https://viacep.com.br/ws